.input-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    .field-name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: black;
        margin-bottom: 9px;
    }
    .input{
        
        font-family: 'Poppins'; 
        outline: none;
        font-style: normal;
        min-width: 335px;
        font-weight: 400;
        border:solid 1px #797D88;
        border-radius: 8px;
        color: rgba(0, 0, 0);;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0px 14px 27px ;
    }    
}


.input-quantity{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    .field-name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: black;
        margin-bottom: 9px;
    }  
    .plus{
        margin: 0px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    position: absolute;
    }
    .minus{
        margin: 0px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    }
    .quantity{
        font-family: 'Poppins';
        font-style: normal;
        max-width: 131px;
        width: 80px;
        // width: 100%;
        font-weight: 400;
        border:solid 1px #797D88;
        border-radius: 8px;
        color: rgba(0, 0, 0);;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0px 14px 67px ;
    }    
  
}


.input-item{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
     max-width: 195px;
    .field-name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: black;
        margin-bottom: 9px;
    }   
    .item{
        font-family: 'Poppins';
        font-style: normal;
         max-width: 195px;
        font-weight: 400;
        border:solid 1px #797D88;
        border-radius: 8px;
        color: rgba(0, 0, 0);;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0px 14px 27px ;
    }    
}