.sigan{ max-width: 365px;
    // max-height: 200px;
    .sigan-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.field-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: black;
    // margin-bottom: 9px;
}
.span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
}
    border: 1px  black;
.sigCanvas{
    width: 100%;
    height: 240px;
    // max-width: 3px;
    // max-height: 200px;
    border-radius: 8px;
    border: 1px solid black;
}
.sigCan{
    width: 355px;
    height: 240px;
    border-radius: 8px;
    border: 1px solid black;
}
}