

.container2 {
  display: flex;
  height: 100vh;
  
}

.left-section {

  flex: 1;
  overflow-y: scroll;
  max-height: 100vh; 
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: #f2f2f2;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}
.form-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f8f8f8; */
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-subheading {
  margin-bottom: 10px;
}

.form-label {
  text-align:left;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-textarea,
.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 10vh;
}

.form-submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #0056b3;
}