.tab-row{
    display: flex;
    justify-content: space-between;
    width: 320px;
    gap: 10px;
    margin: 0 auto;
    
    .tab-btn{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .btn-img{
            max-width: 48px;
            width: 100%;
            height: 100%;
            max-height: 48px;
        }
    }

}